laravel.local/vendor
symfony.local/vendor
yii.local/vendor
.idea
Будет удалено .gitignore
Будет удалено .idea/
Будет удалено laravel.local/.editorconfig
Будет удалено laravel.local/.env
Будет удалено laravel.local/.env.example
Будет удалено laravel.local/.gitattributes
Будет удалено laravel.local/.gitignore
Будет удалено laravel.local/.styleci.yml
Будет удалено laravel.local/app/
Будет удалено laravel.local/artisan
Будет удалено laravel.local/bootstrap/app.php
Будет удалено laravel.local/bootstrap/cache/.gitignore
Будет удалено laravel.local/composer.json
Будет удалено laravel.local/composer.lock
Будет удалено laravel.local/config/
Будет удалено laravel.local/database/
Будет удалено laravel.local/package.json
Будет удалено laravel.local/phpunit.xml
Будет удалено laravel.local/public/
Будет удалено laravel.local/readme.md
Будет удалено laravel.local/resources/
Будет удалено laravel.local/routes/
Будет удалено laravel.local/server.php
Будет удалено laravel.local/storage/app/
Будет удалено laravel.local/storage/framework/.gitignore
Будет удалено laravel.local/storage/framework/cache/
Будет удалено laravel.local/storage/framework/sessions/.gitignore
Будет удалено laravel.local/storage/framework/testing/
Будет удалено laravel.local/storage/framework/views/.gitignore
Будет удалено laravel.local/storage/logs/
Будет удалено laravel.local/tests/
Будет удалено laravel.local/vendor/
Будет удалено laravel.local/webpack.mix.js
Будет удалено symfony.local/.env
Будет удалено symfony.local/.env.test
Будет удалено symfony.local/.gitignore
Будет удалено symfony.local/bin/
Будет удалено symfony.local/composer.json
Будет удалено symfony.local/composer.lock
Будет удалено symfony.local/config/
Будет удалено symfony.local/phpunit.xml.dist
Будет удалено symfony.local/public/
Будет удалено symfony.local/src/
Будет удалено symfony.local/symfony.lock
Будет удалено symfony.local/templates/
Будет удалено symfony.local/tests/
Будет удалено symfony.local/translations/
Будет удалено yii.local/.bowerrc
Будет удалено yii.local/.gitignore
Будет удалено yii.local/LICENSE.md
Будет удалено yii.local/README.md
Будет удалено yii.local/Vagrantfile
Будет удалено yii.local/assets/
Будет удалено yii.local/codeception.yml
Будет удалено yii.local/commands/
Будет удалено yii.local/composer.json
Будет удалено yii.local/composer.lock
Будет удалено yii.local/config/
Будет удалено yii.local/controllers/
Будет удалено yii.local/docker-compose.yml
Будет удалено yii.local/mail/
Будет удалено yii.local/models/
Будет удалено yii.local/requirements.php
Будет удалено yii.local/runtime/.gitignore
Будет удалено yii.local/tests/
Будет удалено yii.local/vagrant/
Будет удалено yii.local/views/
Будет удалено yii.local/web/.htaccess
Будет удалено yii.local/web/assets/.gitignore
Будет удалено yii.local/web/css/
Будет удалено yii.local/web/favicon.ico
Будет удалено yii.local/web/index-test.php
Будет удалено yii.local/web/index.php
Будет удалено yii.local/web/robots.txt
Будет удалено yii.local/widgets/
Будет удалено yii.local/yii
Будет удалено yii.local/yii.bat
